@use "sass:math";
$desk: math.div(100, 1920);
.__input__ {
  position: relative;
  margin-bottom: 10 * $desk + vw;
  display: flex;
  flex-direction: column;
  // width: 340px;
  .input_header {
    font-size: 16px;
    color: #000;
    opacity: 0.65;
    font-weight: 600;
  }
  label {
    font-size: 16px;
    // color: #323232;
    color: #949494;
    font-weight: 600;
  }
  label::after {
    color: red;
    content: attr(req);
    font-weight: 400;
    margin-left: 0.5vw;
  }
  .input_style {
    width: 100%;
    outline-color: #e9ebeb;
    margin-top: 8px;
    border-radius: 6px;
    border: 0;
    padding:  8px;
    font-size: 14px;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.06);
    border: 2px solid transparent;
    background-color: #fff;
    color: #949494;
    font-weight: 400;
    border: 2px solid #fff;
  }

  .input_style::placeholder {
    color: #949494;
  }

  .input_style:disabled {
    // background: #fff;
    background-color: #f5f5f5 !important;
    box-shadow: 2px 2px 4px 0px #0000001a;
    border: 0 solid #fff;

    // box-shadow: -2px -2px 4px 0px #0000000A;
    color: #949494;
    cursor: not-allowed;
  }
  .input__error {
    text-align: left;
    // color: red;
    border: 2px solid red !important;
    margin-bottom: 0;
  }
  .icon-toggle {
    position: absolute;
    width: 22 * $desk + vw;
    top: 72%;
    right: 10 * $desk + vw;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.6;
    // @media only screen and (max-width: 900px) {
    //   top: 58%;
    //   left: 87%;
    // }
  }

  .helperText {
    color: red;
    font-size: 14 * $desk + vw;
    margin-left: 10px;
    margin-top: 5px;
  }
}
